#chat1 {
  margin-top: 40px;
  max-width: 100vw;
  padding: 60px 0 66px 0;
  display: flex;
  flex-direction: column;
  gap: 48px;
  overflow-x: hidden;
}

#chat1-img-container {
  margin-left: 30px;
  width: auto;
  height: 654px;
  overflow: hidden;
  object-fit: cover;
  position: relative;
}

#chat1-img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  position: absolute;
  object-position: left;
}

#chat1 .explanation {
  padding: 30px;
}

#chat1 .explanation h1 {
  font-size: 34px;
  font-weight: 700;
  line-height: 42px;
  letter-spacing: 0em;
  text-align: left;
  color: #232340;
}

#chat1 .explanation p {
  margin-top: 24px;
  margin-bottom: 51px;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0em;
  text-align: left;
  color: #232340e5;
}
