#chat1 {
  margin-top: 40px;
  max-width: 100vw;
  padding: 60px 0 66px 0;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow-x: hidden;
}

.chat1-content {
  display: flex;
  flex-direction: column;
  gap: 48px;
  width: 100%;
}

#chat1-img-container {
  margin-left: 30px;
  width: 100%;
  max-width: 100%;
  height: 654px;
  overflow: hidden;
  object-fit: cover;
  position: relative;
}

#chat1-img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  position: absolute;
  object-position: left;
}

@media (min-width: 568px) {
  #chat1 .explanation h1 {
    font-size: 50px;
    font-weight: 700;
    line-height: 64px;
    letter-spacing: 0em;
    text-align: left;
  }
}

@media (min-width: 1200px) {
  .chat1-content {
    flex-direction: row-reverse;
    align-items: center;
    overflow-x: visible;
    gap: 16px;
    max-width: 80vw;
  }

  #chat1-img-container {
    overflow: visible;
  }

  #chat1-img {
    width: 900px;
  }
}
