#hero {
  /* Set background image */
  background-image: url("../assets/hero.jpg");
  /* Specify background properties */
  background-size: cover; /* Cover the entire viewport */
  background-position: 70% 50%; /* Center the image */
  background-repeat: no-repeat; /* Do not repeat the image */
  /* Optionally, set a background color as a fallback */
  background-color: #f8f8f8;
  padding: 30px 30px 88px 30px;
  color: #f5f5f5;
}

#hero-title {
  display: flex;
  justify-content: space-between;
}

.hamburger-container {
}

#hero-title span {
  background-color: transparent;
}

#hero h1 {
  font-size: 50px;
  font-weight: 700;
  line-height: 50px;
  letter-spacing: -0.02em;
  text-align: left;
}

#hero h2 {
  margin-top: 188px;
  font-size: 34px;
  font-weight: 700;
  line-height: 42px;
  letter-spacing: 0em;
  text-align: left;
}

#hero p {
  margin-top: 16px;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0em;
  text-align: left;
}

#hero form {
  margin-top: 56px;
  display: flex;
  flex-direction: column;
  gap: 16px;
}

#hero .btn-email {
  padding: 10px, 44px, 10px, 44px;
  border-radius: 4px;
  gap: 8px;
  background-color: #5468e7;
  color: #f5f5f5;
}
