#hero {
  /* Set background image */
  background-image: url("../assets/hero-img.jpg");
  /* Specify background properties */
  background-size: cover; /* Cover the entire viewport */
  background-position: 70% 50%; /* Center the image */
  background-repeat: no-repeat; /* Do not repeat the image */
  /* Optionally, set a background color as a fallback */
  background-color: #f8f8f8;
  padding: 30px 30px 88px 30px;
  color: #f5f5f5;
  display: flex;
  justify-content: center;
}

#hero .hero-content {
  width: 100%;
  max-width: 1160px;
}

nav {
  display: none;
}

#hero-title {
  display: flex;
  justify-content: space-between;
}

#hero-title span {
  background-color: transparent;
}

#hero h1 {
  font-size: 50px;
  font-weight: 700;
  line-height: 50px;
  letter-spacing: -0.02em;
  text-align: left;
  margin-bottom: 0;
}

#hero h2 {
  margin-top: 188px;
  font-size: 34px;
  font-weight: 700;
  line-height: 42px;
  letter-spacing: 0em;
  text-align: left;
}

#hero p {
  margin-top: 16px;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0em;
  text-align: left;
}

#hero form {
  margin-top: 56px;
  display: flex;
  flex-direction: column;
  gap: 16px;
}

#hero .btn-email {
  padding: 10px, 44px, 10px, 44px;
  border-radius: 4px;
  gap: 8px;
  background-color: #5468e7;
  color: #f5f5f5;
}

@media (min-width: 568px) {
  #hero {
    padding: 40px 30px 88px 30px;
  }
  #hero h2 {
    font-size: 50px;
    font-weight: 700;
    line-height: 64px;
    letter-spacing: 0em;
    text-align: left;
  }

  #hero p {
    margin-top: 16px;
    font-size: 18px;
    font-weight: 400;
    line-height: 27px;
    letter-spacing: 0em;
    text-align: left;
  }

  #hero form {
    display: flex;
    flex-direction: row;
  }

  #hero form .input-group {
    width: 268px;
  }
}

@media (min-width: 1200px) {
  #hero .hero-content {
    max-width: 80vw;
  }

  nav {
    display: flex;
    gap: 56px;
    align-items: center;
  }

  nav a {
    font-size: 16px;
    font-weight: 500;
    line-height: 24px;
    letter-spacing: 0em;
    text-align: left;
    color: rgba(245, 245, 245, 1);
  }

  .hamburger-container {
    display: none;
  }
}
