* {
  font-family: "Lexend Deca", sans-serif;
}

.form-control {
  border: 0;
}

.br-mobile {
  display: block;
}

.br-tab,
.br-desktop {
  display: none;
}

.learnmore-a {
  font-size: 16px;
  font-weight: 500;
  line-height: 24px;
  letter-spacing: 0em;
  text-align: left;
  color: #5468e7;
  text-decoration: underline;
}

.learnmore-arrow {
  margin-left: 8px;
  width: 19.73px;
  height: 8.24px;
}

.explanation {
  padding: 0 30px 0 30px;
}

.explanation h1 {
  font-size: 34px;
  font-weight: 700;
  line-height: 42px;
  letter-spacing: 0em;
  text-align: left;
  color: #232340;
}

.explanation p {
  margin-top: 24px;
  margin-bottom: 51px;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0em;
  text-align: left;
  color: #232340e5;
}

/* Helper */
.center-with-flex {
  display: flex;
  justify-content: center;
  align-items: center;
}

@media (min-width: 568px) {
  .br-tab {
    display: block;
  }

  .br-mobile,
  .br-desktop {
    display: none;
  }
}

@media (min-width: 1200px) {
  .br-desktop {
    display: block;
  }

  .br-mobile,
  .br-tab {
    display: none;
  }

  .explanation {
    padding: 0;
  }

  .explanation p {
    font-size: 18px;
    font-weight: 400;
    line-height: 27px;
    letter-spacing: 0em;
    text-align: left;
  }

  .explanation h1 {
    font-size: 50px;
    font-weight: 700;
    line-height: 64px;
    letter-spacing: 0em;
    text-align: left;
  }
}
