#work {
  margin-top: 72px;
}

#work-img-container {
  margin: 0 20px 48px 0;
  width: auto;
  height: 93vw;
  overflow: hidden;
  object-fit: cover;
  position: relative;
}

#work-img-people {
  width: 100%;
  height: 100%;
  object-fit: cover;
  position: absolute;
  object-position: left;
}

#work-img-absolute {
  position: absolute;
  right: 9px;
  top: 12px;
  width: 33vw;
  height: auto;
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.work-img-card {
  width: 100%;
  height: auto;
}

@media (min-width: 568px) {
  .work-content {
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    gap: 24px;
  }

  #work-img-container {
    overflow: visible;
    margin: 0;
    width: 300vw;
    height: 80vw;
    max-height: 565px;
    max-width: 565px;
  }

  #work-img-absolute {
    width: 20vw;
    max-height: 260px;
    max-width: 190px;
  }
}

@media (min-width: 1200px) {
  #work {
    display: flex;
    justify-content: center;
  }

  .work-content {
    max-width: 80vw;
    justify-content: space-between;
    gap: 100px;
  }

  #work-img-absolute {
    right: 9px;
    bottom: 24px;
    top: auto;
  }
}
